
<mat-card>
  <h2>{{book.name}}</h2>
  <mat-form-field>
    <div>Author: <input matInput [(ngModel)]="editedBook.author" [readonly]="!allowEdit"></div>
  </mat-form-field>
  <mat-form-field>
    <div>Pages: <input matInput [(ngModel)]="editedBook.pages" [readonly]="!allowEdit"></div>
  </mat-form-field>  
  <mat-form-field>
    <div>Publication year: <input matInput [(ngModel)]="editedBook.publication" [readonly]="!allowEdit"></div>
  </mat-form-field>
    
  <button mat-button (click)="editBook()" matTooltip="Please, click to edit book">Edit</button>
  <button mat-button (click)="blockEdit()" matTooltip="Please, click to block editing">Block edit</button>
  <button mat-button (click)="save()" matTooltip="Please, click to save data">Save</button>
  <button mat-button (click)="cancel()"  matTooltip="Please, click to revert data">Cancel</button>
</mat-card>